
</body>
<footer class="foot">
    <div class="container-fluid">
        <a href="https://github.com/venkatasai24"  target="_blank" class="foot-link"><i class="social-icon fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/venkata-sai-vedurupaka/"  target="_blank" class="foot-link"><i class="social-icon fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/venkatasai__24/"  target="_blank" class="foot-link"><i class="social-icon fab fa-instagram"></i></a>
      </div>
      © Venkata Sai
</footer>
</html>
