<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
	<meta name="description" content="todo-list">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>To Do List</title>
  <link rel="shortcut icon" href="todo.png" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
